My workflow.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "2937f301-34c8-4730-9677-33dfb2c02a98",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "cb85c6cf-eed3-423f-b852-0320b1991cfb",
      "name": "Webhook",
      "webhookId": "2937f301-34c8-4730-9677-33dfb2c02a98"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1zCvhxIIAGo_GVQ5sIdEN1ZuGPzOMxsYy2QPBL7E4H1k",
          "mode": "list",
          "cachedResultName": "LeadFlow CRM",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1zCvhxIIAGo_GVQ5sIdEN1ZuGPzOMxsYy2QPBL7E4H1k/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1zCvhxIIAGo_GVQ5sIdEN1ZuGPzOMxsYy2QPBL7E4H1k/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Name": "={{ $json.body.name }}",
            "Email": "={{ $json.body.email }}",
            "Phone": "={{ $json.body.phone }}",
            "Company": "={{ $json.body.company }}",
            "score": "={{ $('Webhook').item.json.body.email.includes('gmail.com') ? 'Low' : 'High' }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Phone",
              "displayName": "Phone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Company",
              "displayName": "Company",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "score",
              "displayName": "score",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        208,
        0
      ],
      "id": "cb638b60-73eb-4cc4-9eed-1e5557135369",
      "name": "Create sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "s4SSWJGAyNkVQJ7I",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $('Webhook').item.json.body.email }}",
        "subject": "=Thank you for contacting us!",
        "message": "=Hi {{ $('Webhook').item.json.body.name }},  Thank you for reaching out! We have received your details and will get back to you shortly.  Best regards, LeadFlow CRM",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        944,
        -32
      ],
      "id": "632988b2-5fcd-442a-b188-d4a0576da6c5",
      "name": "Send a message",
      "webhookId": "87c5872f-3f24-4ace-a49a-e99eb3069180",
      "credentials": {
        "gmailOAuth2": {
          "id": "qjrwFPmFeSupRySr",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4746cafc-126b-4b0c-b174-3b7a7bfab9b4",
              "name": "=score",
              "value": "=low",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": "={{ true }}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        720,
        -128
      ],
      "id": "41411c0d-2b8f-473e-8f50-786fcc1632f0",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "5db9b709-5759-4bea-bcda-9d5cd9e96d74",
              "name": "=score",
              "value": "=high",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": "={{ false }}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        720,
        80
      ],
      "id": "1bc7426a-89ad-43fe-a9f8-9598949f0ef9",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "7379af32-bc8a-4bc6-9ec4-2111050cd6ee",
              "leftValue": "={{ $('Webhook').item.json.body.email }}",
              "rightValue": "=gmail.com",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": "=",
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        416,
        0
      ],
      "id": "32eeadb1-3fc8-4579-ba8c-1406525a3f95",
      "name": "If"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Create sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create sheet": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message": {
      "main": [
        []
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "504963a0-1794-45e3-a804-25cf9bcc98fd",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "6e24215b2156ce018e736ccad8c2b73630f4fa126c12eb855e709f94d72bd93e"
  },
  "id": "LN73nQHhIaRoYz9H",
  "tags": []
}